.list-top {
    width: 100%;
    height: 359px;
    border-top: 1px solid;
}

.list-top .list-top-son {
    width: 1230px;
    height: 329px;
    margin: 0 auto;
    margin-top: 30px;
}

.list-top .list-top-son>img {
    display: block;
    margin: 0 auto 20px;
    width: 600px;
    height: 40px;
}

.sss {
    width: 1230px;
    height: 10px;
    margin: 0 auto;
}

.bigbox {
    width: 100%;
}

.brand {
    width: 1230px;
    height: 370px;
    border: 1px solid;
    margin: 0 auto;
    padding-top: 24px;
    padding-right: 30px;
}

.brand-1 {
    float: left;
    margin-right: 13px;
}

.brand-2 {
    float: left;
    margin-right: 13px;
}

.brand-3 {
    float: left;
}

.brand .brand-1 .brand-1-list {
    width: 234px;
    height: 54px;
    background: red;
}

.brand .brand-2 .brand-2-list {
    width: 485px;
    height: 54px;
    background: red;
}

.brand .brand-3 .brand-3-list {
    width: 485px;
    height: 54px;
    background: red;
}

.brand-list-top {
    margin-top: 10px;
}

.brand-list li img {
    width: 82%;
    height: 50px;
    vertical-align: middle;
    margin: 30px 10px;
}

.brand-list li {
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
}

.mould {
    width: 1230px;
    height: 327px;
    border: 1px solid;
    margin: 0 auto;
}

.mould ul {
    width: 1230px;
    height: 327px;
}

.mould ul .brand-tiem {
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
}

.list-top-son {
    display: block;
}

.list-top a>img {
    width: 238px;
    height: 269px;
    margin-right: 4px;
}